.sliderit {
    width: 100%;
    justify-content: flex-start !important;
    flex-direction: row !important;
    padding: 4px 2px;
    box-sizing: border-box;
    gap: 1px;
    overflow-x: hidden;
    min-height: 50px;
    overflow-x: scroll;
    margin:5px 0;
}

.sliderit::-webkit-scrollbar {
    height: 2px;
    background: rgb(227, 227, 227);
    border-radius: 4px;
}

.sliderit::-webkit-scrollbar-thumb {
    background: rgb(28, 28, 28);
    border-radius: 5px;
}

.sliderit>.slidSec {
    user-select: none;
    cursor: pointer;
    margin: 0;
    padding: 5px 20px;
    transition: .2s ease;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 40px;
    color: grey;
    font-weight: 500;

}

.atIs {
    color: rgb(0, 136, 255) !important;
}

.sliderit>.slidSec:hover {
    background-color: rgb(216, 238, 255);
    color: rgb(0, 136, 255)
}