.videoBlock {
    position: relative;
    background-color: rgb(81, 81, 81);
    width: 100%;
    min-height: 320px;
    height:320px;
    max-height: 320px;
    border-radius: 10px 10px 0 0;
}

.videoBlock>.chaloVid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.5);
      border-radius: 10px 10px 0 0;
}

.videoBlock>.crdper {
    cursor: pointer;
    transition: .2s ease;
    position: absolute;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 5px;
    width: 95%;
    max-width: 200px;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.594);
    gap:5px;
    color:rgb(255, 255, 255);
    font-size: 14px;
    padding: 40px 20px;
    aspect-ratio: 1/1;
    max-height: 95%;
    background-color: rgba(12, 12, 12, 0.669);
    box-sizing: border-box;
    opacity: .8;
}
.videoBlock>.crdper:hover{
    opacity: 1;
     background-color: rgba(12, 12, 12, 0.66);
}
.videoBlock>.crdper>.maihu{
border-radius: 50%;
object-fit: cover;
width:60px;
aspect-ratio: 1/1;
}
.videoBlock>.crdper>p{
    text-align: center;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.videoBlock>.crdper>.meranm{
    color:rgb(190, 190, 190);
    font-size: 12px;
}