.wholeProfileCard {
    width: 100%;
    border-radius: 15px;
    gap: 20px;
}

.wholeProfileCard>.outBackPic {
    transition: .2s ease;
    position: relative;
    padding: 5px 10px;
    width: 100%;
    box-shadow: 0px 0px 9px 6px rgba(27, 27, 27, 0.167);
    box-sizing: border-box;
    border-radius: 15px;
    min-height: 290px;
    overflow: hidden;
}

.wholeProfileCard>.outBackPic::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('/Img/coverPic.jpg');
    background-position: bottom;
    background-size: cover;
    filter: blur(1.5px) brightness(.6);

}

.wholeProfileCard>.outBackPic>.yeHAiCover {
    transition: 1s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    object-fit: cover;

}
.wholeProfileCard>.outBackPic:hover>.yeHAiCover{
    filter:blur(4px) ;
    box-shadow: 0 0 2px 5px rgba(255, 255, 255, 0.672);
}

.wholeProfileCard>.outBackPic>.forMainPic {
    z-index: 1;
    gap: 2px;
}

.wholeProfileCard>.outBackPic>.forMainPic>.profileDiv {
    border-radius: 50%;
    width: 100px;
    aspect-ratio: 1/1;

}

.wholeProfileCard>.outBackPic>.forMainPic>.profileDiv>.actImg {
    background-color: rgb(252, 252, 252);
    border: 1px solid rgb(237, 237, 237);
    box-sizing: border-box;
    cursor: pointer;
    width: 95%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: .2s ease;
    box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.16);
}

.wholeProfileCard>.outBackPic>.forMainPic>.profileDiv:hover>.actImg {
    width: 100%;
    box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.29);
}

.wholeProfileCard>.outBackPic>.forMainPic>.mainName {
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-shadow: 0px 0px 5px rgb(7, 7, 7);
}

.wholeProfileCard>.outBackPic>.forMainPic>.mainProfession {
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-shadow: 0px 0px 5px rgb(7, 7, 7);
}
.wholeProfileCard>.bioInProfile{
    width:95%;
    max-width: 600px;
    text-align: center;
    color:rgba(22, 0, 34, 0.345);
    font-weight: 500;
    font-size: 14px;
}
.wholeProfileCard>.downPart {
    background-color: white;
    box-sizing: border-box;
    padding: 10px 10px;
    width: 100%;
    border-radius: 15px;
    flex-direction: row !important;
    gap: 20px;
    overflow: hidden;
}


.wholeProfileCard>.outBackPic>.streekDay {
    cursor: pointer;
    padding: 5px 8px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px 6px;
    flex-direction: row !important;
    gap:2px;
    border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.237);
}

.wholeProfileCard>.outBackPic>.streekDay:hover{
    background-color: rgba(255, 0, 0, 0.442);
}

.wholeProfileCard>.outBackPic>.streekDay > .firestreekis {
    width:15px
}

.wholeProfileCard>.outBackPic>.streekDay>.cntStreek {
    color: rgb(255, 222, 160);
    font-size: 12px;
    font-weight: 500;
}

.wholeProfileCard>.outBackPic>.socialDiv {
    flex-direction: row !important;
    gap: 5px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(192, 225, 255, 0.775);
    border-radius: 10px;
    padding: 2.5px 5px;
    margin: 6px;
    justify-content: flex-end !important;

}