.mainprofile {
    justify-content: flex-start !important;
    gap: 5px;
    height:100vh;
    overflow: scroll;
}
.mainprofile::-webkit-scrollbar {
    width: 8px;
    background: rgb(255, 255, 255);
}

.mainprofile::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(0, 0, 0);
}


.mainprofile>.loadingAtProfile{
    width:100%;
    margin:50px 0 0 0 ;
}
.mainprofile>.notFoundUser{
    height: 100%;

    width:100%;
}
.mainprofile>.notFoundUser>p{
    color:rgb(82, 0, 214);
    font-weight: 500;
}
.mainprofile>.notFoundUser>.notFoundImg{
    width:100%;
    object-fit: cover;
    object-position: center;
    max-width: 400px;

}
.mainprofile>.loadingAtProfile> .ContentLoader{
    width:100%;
    max-width: 600px;
}
.mainprofile>.topprofileis {
    max-width: 1100px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    flex-direction: row !important;
    justify-content: space-between;

}


.mainprofile>.topprofileis>.nameInProfile {
    transition: .2s ease;
    cursor: pointer;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    background: linear-gradient(45deg, rgb(34, 0, 255), rgb(0, 128, 102));
    color: transparent;
    background-clip: text;
}

.mainprofile>.topprofileis>.nameInProfile:hover {
    background: linear-gradient(45deg, rgb(174, 0, 255), rgb(0, 62, 128));
    color: transparent;
    background-clip: text;
}

.mainprofile>.topprofileis>.iconBox {
    flex-direction: row !important;
    gap: 5px;
}

.mainprofile>.remainProfile {
    width: calc(100% - 10px);
    border-radius: 20px;
    margin:5px;
    box-sizing: border-box;
    padding: 20px;
    max-width: 1000px;

}


/* ________________________________________  mobile  _____________________________________________ */
@media (max-width:630px) {


    .mainprofile {
        height: calc(100vh - 60px);
    }


}