.index,
.index>.outnav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.index {
    transition: .2s ease;
    flex-direction: row;
    width: calc(100% - 56px);
    margin: 0 10px;
    padding: 12px 18px;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 15px;
    cursor: pointer;
}

.index:hover {
    background-color: rgba(0, 0, 0, 0.038);
}

.index>.outnav {
    transition: .1s ease;
    flex-direction: row;
    gap: 10px;
    width:100%;
}

.index>.outnav path {
    fill: rgb(39, 39, 39);
    
}
.index:hover>.outnav path {
     fill: rgb(56, 0, 0);
}


.index>.outnav>.navicon {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    width: 25px;
    aspect-ratio: 1/1;

}

.index>.outnav>.navtext {
    color: rgb(39, 39, 39);
    font-size: 16px;
    margin: 0;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.index:hover>.outnav>.navtext {
    color: rgb(56, 0, 0);
    font-weight: 500;
}


/* ______________________________________________________________________ */
@media (max-width:1000px) {
    .index>.outnav>.navtext {
        display: none;
    }

    .index {
        width: auto;
        max-width: calc(100% - 40px);
        padding: 10px;
        aspect-ratio: 1/1;
    }
}

@media (max-width:630px) {
    .index>.outnav>.navtext {
        display: none;

    }

    .index:hover {
        background-color: transparent;
    }
}