.overSwitch,
.switch,
.overSwitch>.actContent>.top,
.overSwitch>.actContent>.mainBody {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overSwitch {
    transition: .1s ease-in;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}

.overSwitch>.switch {
    box-sizing: border-box;
    padding: 20px 5px;
    justify-content: space-between;
    transition: .1s ease-in;
    height: 100vh;
    width: 220px;
    overflow: scroll;
}

.overSwitch>.switch>.hidenav {
    width: 70%;
}

.hivenav>img {
    display: none;
}

.overSwitch>.switch::-webkit-scrollbar {
    display: none;
}

.overSwitch>.actContent {
    transition: .1s ease-in;
    height: 100vh;
    justify-content: flex-start;
    box-sizing: border-box;
    width: calc(100% - 220px)
}

.overSwitch>.actContent>.top {
    width: 100%; 
    height: 70px;
}

.overSwitch>.actContent>.mainBody {
    height: calc(100vh - 70px );
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: flex-start;
}

.overSwitch>.actContent>.mainBody::-webkit-scrollbar {
    width: 8px;
    background: rgb(255, 255, 255);
}

.overSwitch>.actContent>.mainBody::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(0, 0, 0);
}



/* ________________________________________  tab  _____________________________________________ */


@media (max-width:1000px) {
    .overSwitch>.switch {
        width: 80px;
    }

    .overSwitch>.switch>.hidenav {
        width: 90%;
    }

    .overSwitch>.actContent {
        width: calc(100% - 80px)
    }
}

/* ________________________________________  mobile  _____________________________________________ */
@media (max-width:630px) {
    .overSwitch {
        flex-direction: column-reverse;
    }

    .overSwitch>.switch {
        width: 100%;
        height: 60px;
        justify-content: center;
        flex-direction: row;
        padding: 0;
        gap: 0;
    }

    .overSwitch>.actContent {
        width: 100%;
        height: calc(100vh - 60px)
    }

    .overSwitch>.actContent>.mainBody {
        height: calc(100vh - 130px);
    }

    .overSwitch>.switch>.hidenav {
        display: none;
    }
}