.nofound404{
    width:100%;
    height:100vh;
}
.nofound404>.inami{
width:95%;
max-width: 900px;
}
.nofound404>.inami>.dogimg{
    width:40%;
    max-width: 200px;

}
.nofound404>.inami>p{
    color:rgb(51, 0, 255);
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    width:100%;
    
}

.nofound404>.inami>.btnloc404{
    flex-direction: row !important;
    gap:20px;
}
.nofound404>.inami>.btnloc404>div{
    cursor: pointer;
    background-color: rgb(76, 0, 255);
    color:rgb(255, 255, 255);
    padding:7px 15px;
    border-radius: 20px;
    font-size: 16px;
}
.nofound404>.inami>.btnloc404>div:hover{
    opacity: .7;
}