.titleInputs {
    width: 95%;
    gap: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid rgb(221, 214, 255);
    align-items: flex-start !important;

}

.titleInputs>h1 {
    font-size: 25px;
    margin: 0;
    padding: 0 10px;
    color: rgb(221, 220, 255);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.titleInputs:hover:hover>h1 {
    color: rgb(174, 171, 255);
}

.titleInputs>.maininps {

    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: flex-start;
}

.titleInputs>.maininps>.taskName {
    flex: .3 .3 200px;
    height: 80px;
    max-width: 400px;
}

.titleInputs>.maininps>.purpusInp {
    flex: .8 .8 350px;
    height: 80px;
    max-width: 600px;
}

/* _______________________________________________________________task time ____________ */
.titleInputs>.maininps>.dayinp {
    text-align: center;
    width: 41px;
    letter-spacing: 1px;
    padding: 4px;
    border: none;
    font-size: 16pxt;
    border-bottom: 1px solid rgb(131, 131, 131);
    outline: none;

}

.titleInputs>.maininps>.daystext {
    margin: 0;
    color: rgb(39, 39, 39);
    font-size: 16px;
}

.titleInputs>.secH {
    color: rgb(247, 220, 255);
}

.titleInputs:hover:hover>.secH {
    color: rgb(237, 171, 255);
}

.titleInputs>.sevH {
    color: rgb(220, 236, 255);
}

.titleInputs:hover:hover>.sevH {
    color: rgb(190, 219, 255);
}

.titleInputs>.eigH {
    color: rgb(221, 221, 221);
}

.titleInputs:hover:hover>.eigH {
    color: rgb(180, 180, 180);
}

/* ________________________________task tevel___________________________________ */

.titleInputs>.maininps>.levelinp {
    width: 100%;
    margin: 10px 0;
    max-width: 700px;
}

.titleInputs>.thiH {
    color: rgb(255, 220, 220);
}

.titleInputs:hover:hover>.thiH {
    color: rgb(255, 171, 196);
}

.titleInputs>.maininps>.miniTitle {
    color: grey;
    font-size: 20px;
}

.titleInputs>.rowinmaininp {
    flex-direction: column;
    align-items: flex-start;
}

.titleInputs>.rowinmaininp>.radioinpdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
}

.titleInputs>.rowinmaininp>.radioinpdiv>.miniTitle {
    margin: 10px 30px 10px 0;
    font-size: 18px;
    font-weight: 600;
    color: rgb(190, 210, 255)
}

.titleInputs>.rowinmaininp>.radioinpdiv>label {
    margin: 0 20px 0 5px;
    user-select: none;
    cursor: pointer;
}

.titleInputs>.rowinmaininp>.radioinpdiv>label:hover {
    color: rgb(132, 132, 132)
}


/* ______________________________________Description ____________________ */

.titleInputs>.forH {
    color: rgb(220, 255, 235);
}

.titleInputs:hover:hover>.forH {
    color: rgb(171, 255, 226);
}

.textareainp {
    margin: 10px 0;
    width: 100%;
    border: none;
    resize: none;
    height: 92px;
    outline: none;
    font-size: 14px;
    border-bottom: 1px solid black;
}

/* ______________________________________voice inputs____________________ */

.titleInputs>.fivH {
    color: rgb(220, 227, 255);
}

.titleInputs:hover:hover>.fivH {
    color: rgb(171, 182, 255);
}



.maininps>.strtrec {
    cursor: pointer;
    width: 40px;
    box-sizing: border-box;
    padding: 10px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(27, 27, 27);
    fill: rgb(236, 236, 236);
}

.maininps>.strtrec:hover {
    background-color: rgb(0, 60, 13);
}

.maininps>.mikediv {
    cursor: pointer;
    height: 40px;
    min-width: 80px;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(255, 228, 228);
    flex-direction: row;
    gap: 10px;
    border-radius: 30px;
}

.maininps>.mikediv>.stprec {
    fill: rgb(255, 0, 0);
    width: 18px;
    box-sizing: border-box;
    aspect-ratio: 1/1;
    animation: blink 1s infinite forwards ease;
}

.maininps>.mikediv:hover {
    fill: rgb(255, 0, 0);
    background-color: rgb(255, 200, 200);
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.maininps>.mikediv>p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: red;
}

.maininps>.canvasdiv {
    border-radius: 30px;
    display: flex;
    gap: 0px;
    padding: 2.5px;
    border: 1px solid rgb(88, 88, 88)
}

.maininps>.canvasdiv>.plpu {
    cursor: pointer;
    width: 35px;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 8px;
    height: 35px;
    background-color: rgb(49, 49, 49);
}

.maininps>.canvasdiv>.plpu:hover {
    opacity: .6;
}

.gapinvoice {
    padding: 20px 0;
}

/* ____________________________________image input ______________________________________________ */

.titleInputs>.sixH {
    color: rgba(180, 202, 139, 0.499);
}

.titleInputs:hover:hover>.sixH {
    color: rgba(102, 114, 79, 0.524);
}

.maininps>.imgdiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.maininps>.imgdiv>.onediv {
    position: relative;
    width: 22%;
    aspect-ratio: 1.5/1;

}

.maininps>.imgdiv>.onediv>.cutimg {
    position: absolute;
    width: 25px;
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    right: 0;
    top: 0;
    border-radius: 50%;
    transform: translate(25%, -25%);
    fill: rgb(40, 40, 40);
    cursor: pointer;
}

.maininps>.imgdiv>.onediv>.cutimg:hover {
    fill: rgb(255, 0, 0);
}

.maininps>.imgdiv>.onediv>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;

}

.maininps>.importImg {
    cursor: pointer;
    transition: .2s ease;
    padding: 5px 15px 5px 5px;
    border: 1px solid rgb(220, 220, 220);
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 80px;
}

.maininps>.importImg:hover {
    background-color: rgb(220, 220, 220);
}

.maininps>.importImg>.downl {
    background-color: rgb(47, 47, 47);
    border-radius: 50%;
    padding: 8px;
    width: 15px;
    aspect-ratio: 1/1;
}

.maininps>.importImg>p {
    margin: 0;
    font-size: 14px;
    white-space: nowrap;
    color: rgb(34, 34, 34);
    font-weight: 500;
}

/* ___________________________button ______________________ */
.btndivinput {
    margin: 20px 20px 40px 20px;
    align-self: flex-end;
}


/* ___________________________All dare ______________________ */
.maininps>.boxOfDare {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    justify-content: flex-start !important;
    align-items: self-start !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: 10px;
}

.maininps>.boxOfDare>.onedare {
    transition: .2s ease;
    color: rgb(66, 66, 66);
    background-color: rgb(232, 232, 232);
    padding: 6px 10px;
    border-radius: 8px;
    flex-direction: row !important;
    gap: 5px;
}

.maininps>.boxOfDare>.onedare:hover {
    color: rgb(66, 66, 66);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 4px rgba(4, 4, 4, 0.245);
}

.maininps>.boxOfDare>.onedare>.isp {
    margin: 0;
    font-size: 14px;
    font-weight: 500;


}

.maininps>.boxOfDare>.onedare>.cutit {
    transition: .25s ease;
    width: 25px;
    fill: rgb(77, 77, 77)
}

.maininps>.boxOfDare>.onedare>.cutit:hover {
    cursor: pointer;
    transform: rotateZ(95deg);
    fill: rgb(255, 0, 0);
}

/* ____________________collab __________________ */

.maininps>.userBox {
    background-color: rgb(246, 246, 246);
    box-sizing: border-box;
    border-radius: 20px;
    min-height: 60px;
    padding: 20px;
    width: 100%;
    justify-content: flex-start !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-items: flex-start !important;
    gap:10px;

}

.maininps .frndimg {
    position: relative;
    border-radius: 50%;
    width: 60px;
    aspect-ratio: 1/1;
}

.maininps .frndimg:hover {
    box-shadow: 0 0 9px 10px rgba(0, 0, 0, 0.108);
}

.maininps .frndimg>.thisImg {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.maininps .frndimg>.ccut {
    transition: .2s ease;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    transform: translate(25%, 0%);
    aspect-ratio: 1/1;
}

.maininps .frndimg>.ccut:hover {
    fill: red;
    transform: translate(25%, 0%) rotateZ(90deg);
}

.maininps>.schDiv {
    box-sizing: border-box;
    width: 100%;
    gap: 5px;
    padding: 15px;
    align-items: flex-start;
    border-radius: 20px;
    margin: 10px 0;
    border: 1px solid rgb(200, 200, 200);
    max-width: 500px;
}

.maininps>.schDiv>.lbl {
    font-size: 16px;
    color: grey;
    border-radius: 15px;
}

.maininps>.schDiv>.iinp {
    width: 100%;
    gap: 5px;
    flex-direction: row !important;
    justify-content: flex-start !important;
}

.maininps>.schDiv>#sch {
    border: none;
    box-sizing: border-box;
    width: calc(100%);
    outline: none;
    font-size: inherit;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(115, 0, 255, 0.058);
    letter-spacing: 0.5px;
    color: rgb(81, 0, 81);
}

.maininps>.schDiv>#sch::placeholder {
    color: rgb(175, 175, 175);
    font-size: 15px;
}

.maininps>.schDiv>.frndZone {
    width: 100%;
    gap: 1px;
    padding: 5px;

}

.maininps>.schDiv>.frndZone>.oneZone {
    box-sizing: border-box;
    width: 100%;
    flex-direction: row !important;
    justify-content: space-between !important;
    padding: 10px;
    border-radius: 20px;
}

.maininps>.schDiv>.frndZone>.oneZone:hover {
    background-color: rgba(0, 0, 0, 0.039);
}

.maininps>.schDiv>.frndZone>.oneZone>.prt1 {
    width: calc(100% - 50px);
    flex-direction: row !important;
    justify-content: flex-start !important;
    gap: 5px;
}

.maininps>.schDiv>.frndZone>.oneZone>.prt1>.frdPic {
    cursor: pointer;
    width: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.maininps>.schDiv>.frndZone>.oneZone>.prt1>.nArea {
    width: calc(100% - 45px);
    align-items: flex-start !important;
}

.maininps>.schDiv>.frndZone>.oneZone>.prt1>.nArea>p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.maininps>.schDiv>.frndZone>.oneZone>.prt1>.nArea>.nm {
    font-size: 13px;
    color: grey
}

.maininps>.schDiv>.frndZone>.oneZone>.prt1>.nArea>.usr {
    font-size: 16px;
}

.maininps>.schDiv>.frndZone>.oneZone>.prt2 {
    cursor: pointer;
    fill: rgba(128, 128, 128, 0);
    width: 35px;
    padding:2px 5px;

    aspect-ratio: 1/1;
}

.maininps>.schDiv>.frndZone>.oneZone>.prt2:hover>polyline,
.maininps>.schDiv>.frndZone>.oneZone>.prt2:hover>circle {
    stroke: rgb(0, 172, 14)
}