.mytask>.outonetask {
    flex: 1 1 320px;
    width: 300px;
}


.mytask>.outonetask>.onetask {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: .2s ease;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: flex-start;
    align-items: flex-start;
    scale: .98;
    cursor: pointer;
    width: 100%;
}

.mytask>.outonetask>.onetask:hover {
    scale: 1;
}

.mytask>.outonetask>.onetask>.timelineday {
    position: absolute;
    cursor: default;
    top: 10px;
    padding: 5px 10px;
    right: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 17, 17);
    font-size: 12px;
    border-radius: 5px;
}

.mytask>.outonetask>.onetask>.taskimg {
    width: 100%;
    aspect-ratio: 1.9/1.1;
    object-fit: cover;
    max-height: 220px;

}


.mytask>.outonetask>.onetask>.taskDetails {
    position: absolute;
    box-sizing: border-box;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 10%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.634);
}

.mytask>.outonetask>.onetask>.taskDetails>p {
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    color: rgb(234, 234, 234);
    text-align: center;
    width: 100%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}

.mytask>.outonetask>.onetask>.taskDetails>.purpose {
    font-size: 13px;
    overflow: hidden;
    display: -webkit-box;
    white-space: wrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    line-height: 1.4em;
    max-height: calc(1.4em * 2);
    color: rgb(255, 255, 255)
}

.mytask>.outonetask>.userdata {
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px 10px;
    width: calc(100% - 20px);
}

.mytask>.outonetask>.userdata>.outuserimg {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: calc(100% - 40px);

}

.mytask>.outonetask>.userdata>.outuserimg>.ownerpicinprivate {
    width: 38px;
    aspect-ratio: 1/1 !important;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.mytask>.outonetask>.userdata>.outuserimg>.userinfo {
    width: calc(100% - 45px);
}

.mytask>.outonetask>.userdata>.outuserimg>.userinfo>p {
    margin: 0;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(47, 47, 47);
    font-weight: 500;
    width: 100%;
    display: block;
}

.mytask>.outonetask>.userdata>.outuserimg>.userinfo>.tymm {
    font-size: 12px;
    font-weight: 400;
    color: grey;
}

.mytask>.outonetask>.userdata>.btndivinprivate,
.mytask>.outonetask>.userdata>.delbtnexist {
    cursor: pointer;
    transition: .1s ease;
    padding: 3px;
    stroke: rgb(65, 65, 65);
    background-color: rgb(240, 240, 240);
    width: 28px;
    border-radius: 10px;

}

.mytask>.outonetask>.userdata>.btndivinprivate:hover,
.mytask>.outonetask>.userdata>.delbtnexist:hover {
    opacity: .7;
}

.mytask>.outonetask>.userdata>.delbtnexist {
    stroke:none;
    background-color: rgb(56, 0, 0);
}

.mytask>.outonetask>.userdata>.delbtnexist>path {
    fill: rgb(255, 255, 255)
}